<!DOCTYPE html>
<head>
    <title>Node: Workshop 1</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <%- include('../partials/answers/7header', {})%>
    <div class='main'>
        <h2>Part 2</h2>
        <div class='content'>
            <%- include('../partials/questions/7') %>
            <div class='box answer'>
                <h3>Answer</h3>
                <!-- render answer here -->
                <p>No answer required here...</p>

                <div class="link-box">
                    <a href="/question6.ejs">Previous</a><span> / </span> <a href="/question8.ejs" >Next</a>
                </div>
            </div>
        </div>
    </div>
</body>